# TypeScript env types
next-env.d.ts

# testing
/coverage

# Supabase
.supabase

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
logs
*.log

# local env files
.env*
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn PnP (optional)
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
node_modules/
